/* palette: #100800 #0c0500 #150c03 #140a00 #1b1207 */

@font-face {
  font-family: PowellAntique;
  src: url('../webfonts/PowellAntique-webfont.eot');
  src: url('../webfonts/PowellAntique-webfont.eot?#iefix')        format('embedded-opentype'),
       url('../webfonts/PowellAntique-webfont.woff')              format('woff'),
       url('../webfonts/PowellAntique-webfont.ttf')               format('truetype'),
       url('../webfonts/PowellAntique-webfont.svg#PowellAntique') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #100800;
  width: 720px;
  margin: 0 0 2em 1em;
  color: #dc9a44;
  font-family: 'PowellAntique', Arial, sans-serif;
}

h1, h2, h3 {
  color: #dc9a44;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p, li {
  font-size: 1.5em;
}

#screenshots {
  height: 500px;
  width: 100%;
}

#pitch,
#screenshots,
#disclaimer,
#currently,
#run-it,
#play-it,
#grab-the-code,
#coming-soon {
  margin-bottom: 2em;
}

#coming-soon ul {
  list-style-position: inside;
  list-style-type: square;
}

#footer {
  text-align: center;
}

#footer p {
  font-size: 1.1em
}

#footer a {
  color: #dc9a44;
  font-weight: bold;
  text-decoration: none;
}

.content a {
  color: #dc9a44;
  text-decoration: none;
  background-color: #1b1207;
  border-radius: 5px;
  padding: 0 5px 3px 5px;
}

.lighter-background {
  background-color: #1b1207;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.code p {
  font-family: monospace;
  font-size: 1.4em;
}
