<!doctype html>
<!--[if lt IE 7]> <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='en'> <![endif]-->
<!--[if IE 7]>    <html class='no-js lt-ie9 lt-ie8' lang='en'> <![endif]-->
<!--[if IE 8]>    <html class='no-js lt-ie9' lang='en'> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en' xmlns:fb='https://www.facebook.com/2008/fbml'>
<!--<![endif]-->
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Werld Online</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link href='stylesheets/index.css' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='favicon.ico'>
  </head>
  <body>
    <div class='left-column'>
      <h1>Werld Online</h1>
      <div id='pitch' class='content'>
        <p>
          An MMORPG that runs on your browser. Well, not yet, but it will. Mostly
          inspired by
          <a href='http://www.uo.com'>Ultima Online</a>
          and
          <a href='http://www.nethack.org/'>NetHack</a>.
        </p>
      </div>
    </div>
    <div class='right-column'>
      <div id='account-bar' class='lighter-background' style='display: none;'>
      </div>
    </div>
    <div>
      <div class='left-column'>
        <h2>Screenshots</h2>
        <div id='screenshots' class='content'>
        </div>
        <div id='disclaimer' class='content'>
          <h2>Disclaimer</h2>
          <p>
            I started developing Werld Online as an excuse to
            <a href='http://www.erlang.org/'>learn</a>
            <a href='http://websocket.org/'>new</a>
            <a href='http://en.wikipedia.org/wiki/Canvas_element'>technologies</a>
            and to improve on things I've
            <a href='http://en.wikipedia.org/wiki/C_(programming_language)'>worked</a>
            <a href='http://en.wikipedia.org/wiki/POSIX'>with</a>
            <a href='http://en.wikipedia.org/wiki/Computer_network_programming'>before</a>.
            The ultimate goal is to have an MMORPG running on your browser. To get there
            I'm prototyping a TTY client to drive the server design, because I don't
            have experience developing complex games (specially if it doesn't run in
            a terminal).
          </p>
        </div>
        <div id='currently'>
          <h2>Currently</h2>
          <div class='content'>
            <p>
              There isn't much done yet. For now you can use the TTY client to log
              in to the server using an account and password that won't even get
              saved in a database. After logging in you'll be able to walk around
              and chat with whoever is also logged in. That's it. Also, don't be
              surprised if you bump into a bug or three.
            </p>
          </div>
        </div>
        <div id='run-it'>
          <h2>Run It</h2>
          <div class='content lighter-background code'>
            <p>$ git clone git://github.com/mpereira/werld-client-tty.git</p>
            <p>$ cd werld-client-tty</p>
            <p>$ make</p>
            <p>$ sudo make install</p>
            <p>$ werld</p>
          </div>
        </div>
        <div id='play-it'>
          <h2>Play It</h2>
          <div>
            <p>
              Use &larr;&darr;&uarr;&rarr; or hjkl to move around. Press the enter
              key to be solicited for text input. Pressing enter again will send
              whatever you typed for everyone to see.
            </p>
          </div>
        </div>
        <div id='grab-the-code'>
          <h2>Grab The Code</h2>
          <div class='content lighter-background'>
            <h3>Server</h3>
            <iframe src='http://markdotto.github.com/github-buttons/github-btn.html?user=mpereira&repo=werld-server&type=watch&size=large&count=true' allowtransparency='true' frameborder='0' scrolling='0' width='150px' height='30px'></iframe>
            <iframe src='http://markdotto.github.com/github-buttons/github-btn.html?user=mpereira&repo=werld-server&type=fork&size=large&count=true' allowtransparency='true' frameborder='0' scrolling='0' width='130px' height='30px'></iframe>
            <h3>Browser Client</h3>
            <iframe src='http://markdotto.github.com/github-buttons/github-btn.html?user=mpereira&repo=werld-client-browser&type=watch&size=large&count=true' allowtransparency='true' frameborder='0' scrolling='0' width='150px' height='30px'></iframe>
            <iframe src='http://markdotto.github.com/github-buttons/github-btn.html?user=mpereira&repo=werld-client-browser&type=fork&size=large&count=true' allowtransparency='true' frameborder='0' scrolling='0' width='130px' height='30px'></iframe>
            <h3>TTY Client</h3>
            <iframe src='http://markdotto.github.com/github-buttons/github-btn.html?user=mpereira&repo=werld-client-tty&type=watch&size=large&count=true' allowtransparency='true' frameborder='0' scrolling='0' width='150px' height='30px'></iframe>
            <iframe src='http://markdotto.github.com/github-buttons/github-btn.html?user=mpereira&repo=werld-client-tty&type=fork&size=large&count=true' allowtransparency='true' frameborder='0' scrolling='0' width='130px' height='30px'></iframe>
          </div>
        </div>
        <div id='coming-soon'>
          <h2>Coming Soon</h2>
          <ul>
            <li><p>Hitting other players</p></li>
            <li><p>Dying and resurrecting</p></li>
            <li><p>Creatures that drop loot when killed</p></li>
            <li><p>Level and experience system</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div id='facebook-like-box' class='fb-like-box' data-href='https://www.facebook.com/pages/Werld-Online/318689948152666' data-width='292' data-colorscheme='dark' data-show-faces='true' data-border-color='#1b1207' data-stream='true' data-header='true'></div>
    <div id='footer' class='both-columns lighter-background'>
      <p>&copy; <a href='http://murilopereira.com'>Murilo Pereira</a></p>
    </div>
    <!--<script type='text/javascript'>-->
      <!--var _gaq = _gaq || [];-->
      <!--_gaq.push(['_setAccount', 'UA-26664624-1']);-->
      <!--_gaq.push(['_trackPageview']);-->
      <!--(function() {-->
        <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
        <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
        <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
      <!--})();-->
    <!--</script>-->
    <script src='javascripts/libs.js'></script>
    <script src='javascripts/index.js'></script>
    <script type='text/template' id='account-bar-template'>
      <% if (account.get('authenticated')) { %>
        <div id='account'>
          <img src='<%= account.facebookProfilePictureUrl() %>' id='account-picture'></p>
          <p id='account-name'><%= account.get('name') %></p>
        </div>
        <a href='#' id='facebook-logout'>Sign out</a>
      <% } else { %>
        <a href='#' id='facebook-login'>Sign in with facebook</a>
      <% } %>
    </script>
  </body>
</html>
