body {
  background-color: #100800;
  color: #dc9a44;
  font-family: 'PowellAntique', Arial, sans-serif;
}

#canvas-wrapper {
  text-align: center;
  margin: 2em 0;
}

#message-input-form-wrapper, #character-name-input-form-wrapper {
  text-align: center;
}

#message-input-form input, #character-name-input-form-wrapper input {
  width: 624px;
  background-color: #1b1207;
  color: #dc9a44;
  border-radius: 5px;
  border-color: #1b1207;
  padding: 0.5em;
  font-family: 'PowellAntique', Arial, sans-serif;
  font-size: 1.2em;
}

#message-input-form input:focus, #character-name-input-form-wrapper input:focus {
  outline: none;
}

#character-name-input-form-wrapper {
  font-size: 1.4em;
}

#character-name-input-form-wrapper input {
  width: 300px;
  font-size: 1em;
}
