/* palette: #100800 #0c0500 #150c03 #140a00 #1b1207 */

body {
  background-color: #100800;
  margin: 0.5em 0 2em 1em;
  width: 1000px;
  color: #dc9a44;
  font-family: 'PowellAntique', Arial, sans-serif;
  float: left;
  line-height: 1.5;
}

h1, h2, h3 {
  color: #dc9a44;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

.left-column, .right-column, .both-columns {
  float: left;
}

.left-column {
  width: 720px;
}

.right-column {
  width: 280px;
}

.both-columns {
  width: 100%;
}

#screenshots {
  height: 500px;
  width: 100%;
}

#authentication {
  float: left;
  width: 100%;
}

#authentication a, #authentication p {
  font-size: 1.2em;
}

#authentication a {
  cursor: pointer;
}

#authentication a:hover {
  text-decoration: underline;
}

#account {
  width: 70%;
}

#account-picture {
  width: 15%;
  float: left;
}

#account-name {
  width: 70%;
  margin: 0 0.5em;
  padding-right: 0.5em;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

#fb-auth {
  float: right;
}

#pitch,
#screenshots,
#disclaimer,
#currently,
#run-it,
#play-it,
#grab-the-code,
#coming-soon {
  margin-bottom: 2em;
}

#coming-soon ul {
  list-style-position: inside;
  list-style-type: square;
}

#coming-soon ul li p {
  display: inline;
}

#footer {
  text-align: center;
}

#footer p {
  font-size: 1.1em
}

#footer a {
  color: #dc9a44;
  font-weight: bold;
  text-decoration: none;
}

.content a {
  color: #dc9a44;
  text-decoration: none;
  background-color: #1b1207;
  border-radius: 5px;
  padding: 0 5px 3px 5px;
}

.lighter-background {
  background-color: #1b1207;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.code p {
  font-family: monospace;
  font-size: 1.4em;
}
