@font-face {
  font-family: 'PowellAntique';
  src: url('../webfonts/PowellAntique-webfont.eot');
  src: url('../webfonts/PowellAntique-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/PowellAntique-webfont.woff') format('woff'),
       url('../webfonts/PowellAntique-webfont.ttf') format('truetype'),
       url('../webfonts/PowellAntique-webfont.svg#PowellAntique') format('svg');
  font-weight: normal;
  font-style: normal;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #100800;
  color: #dc9a44;
  font-family: 'PowellAntique', Arial, sans-serif;
}

#footer {
  text-align: center;
  width: 640px;
  margin: 0 auto;

  #social-media {
    display: inline-block;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
    }

    .button {
      display: inline-block;
      height: 24px;
      width: 24px;
      margin-bottom: -0.4em;
    }

    #facebook {
      background-image: url('../images/facebook.png');
    }

    #twitter {
      background-image: url('../images/twitter.png');
    }

    #github {
      background-image: url('../images/github.png');
    }
  }

  p {
    display: inline-block;
    margin: 0;
  }

  a {
    color: #dc9a44;
    text-decoration: none;
    font-weight: bold;
  }
}

#canvas-wrapper {
  text-align: center;
  margin: 2em 0;

  canvas {
    .unselectable
  }
}

#message-input-form-wrapper, #character-name-input-form-wrapper {
  text-align: center;
}

#message-input-form input, #character-name-input-form-wrapper input {
  width: 624px;
  background-color: #1b1207;
  color: #dc9a44;
  border-radius: 5px;
  border-color: #1b1207;
  padding: 0.5em;
  font-family: 'PowellAntique', Arial, sans-serif;
  font-size: 1.2em;
}

#message-input-form input:focus, #character-name-input-form-wrapper input:focus {
  outline: none;
}

#character-name-input-form-wrapper {
  font-size: 1.4em;
}

#character-name-input-form-wrapper input {
  width: 300px;
  font-size: 1em;
}
