<!doctype html>
<!--[if lt IE 7]> <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='en'> <![endif]-->
<!--[if IE 7]>    <html class='no-js lt-ie9 lt-ie8' lang='en'> <![endif]-->
<!--[if IE 8]>    <html class='no-js lt-ie9' lang='en'> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en' xmlns:fb='https://www.facebook.com/2008/fbml'>
<!--<![endif]-->
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>

    <meta property='og:title' content='Werld Online'>
    <meta property='og:type' content='website'>
    <meta property='og:url' content='http://www.werldonline.com/'>
    <meta property='og:image' content='http://www.werldonline.com/images/logo.jpg'>
    <meta property='og:site_name' content='Werld Online'>
    <meta property='og:description' content='Werld Online is an old school MMORPG that you can play from everywhere.'>

    <title>Werld Online</title>
    <link rel='shortcut icon' href='favicon.ico'>

    <% if (Werld.Config.environment === 'production') { %>
      <link href='stylesheets/style.css' rel='stylesheet' type='text/css'>
    <% } else { %>
      <% _(stylesheets).each(function(path) { %>
        <link href='<%= path %>' rel='stylesheet/less' type='text/css'>
      <% }) %>
      <script src='vendor/javascripts/less-1.3.0.js'></script>
    <% } %>
  </head>
  <body>
    <div id='canvas-wrapper'>
      <canvas width='640' height='480'></canvas>
    </div>

    <div id='character-name-input-form-wrapper'>
      <form id='character-name-input-form' style='display: none;'>
        <label for='character-name-input'>
          Please choose a name for your character
        </label>
        <input id='character-name-input' type='text'>
      </form>
    </div>

    <div id='message-input-form-wrapper'>
      <form id='message-input-form' style='display: none;'>
        <input type='text'>
      </form>
    </div>

    <div id='footer'>
      <ul id='social-media'>
        <li>
          <a href='http://www.facebook.com/WerldOnline'
             id='facebook'
             class='button'
             target='_blank'></a>
        </li>
        <li>
          <a href='http://twitter.com/WerldOnline'
             id='twitter'
             class='button'
             target='_blank'></a>
        </li>
        <li>
          <a href='https://github.com/mpereira/werld-client-browser'
             id='github'
             class='button'
             target='_blank'></a>
        </li>
      </ul>

      <p>
        &copy; 2012
        <a href='http://murilopereira.com' target='_blank'>Murilo Pereira</a>.
        All rights reserved.
      </p>
    </div>

    <% if (Werld.Config.environment === 'production') { %>
      <script type='text/javascript'>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26664624-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% } %>

    <% if (Werld.Config.environment === 'production') { %>
      <script src='javascripts/libs.js'></script>
      <script src='javascripts/werld.js'></script>
    <% } else { %>
      <% _(libs).each(function(path) { %>
        <script src='<%= path %>'></script>
      <% }) %>
      <% _(src).each(function(path) { %>
        <script src='<%= path %>'></script>
      <% }) %>
    <% } %>
  </body>
</html>
